*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 2px dotted blue;
    outline-offset: 3px;
}

html{
    font-size: 62.5%;
    height: 100%;
}
ul ,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 100%;
}
main{
    // flex-grow: 1;
    // height: 100%;
}
.container{
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;;
}