$colors-yellow: #FCB72B;
$colors-dark-navy:#495567;
$colors-dim-grey:#939CAA;
$colors-light-grey:#E5ECF4;
$colors-snow:#F2F5F9;
$colors-light-yellow:#FFF4DF;
$colors-wight:#fff;
$colors-footer-bg:#333A44;


// FONTS
$main-font-size-h1:5.6rem;
$main-font-size-h2:4.8rem;
$main-font-size-h3:4rem;
$main-font-size-h4:2.4rem;
$main-font-size-btn:1.5rem;

// LINE
$line-h1:1;
$line-h2:1;
$line-h3:-1.79;
$line-h4:1.17;
$line-btn:1.67;