.site-btn{
    background-color: $colors-yellow;
    color: $colors-wight;
    padding: 1.4rem 3.9rem;
    font-size: $main-font-size-btn;
    line-height:$line-btn;
    border: 3px solid $colors-yellow;
}

.site-btn:hover{
    background-color: $colors-wight;
    color: $colors-yellow;
    border: 3px solid $colors-yellow;
}